*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
.all{
    height: 350px;
    margin-top: 50px;
    border-radius: 20px;
}
button {
    font-size: 1.2em;
    border-radius: 5px;
    width: 90px;
}
.animate{
    background: url("./images/heads.png");
    text-align: center;
    margin-top: 20px;
    width: 200px;
    height: 270px;
    margin-left: 150px;
    animation-name: spin;
    animation-iteration-count: 2;
    animation-duration: 1s;
}
#image{
    background: url("./images/heads.png");
    width: 200px;
    height: 270px;
    align-items: center;
    
}
@keyframes spin {
    0% {background: url("./images/heads.png")}
    
    25% {background: url("./images/tails.png")}
    
    50% {background: url("./images/heads.png")}
    
    75% {background: url("./images/tails.png")}
    
    100% {background: url("./images/heads.png")}
}
