*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
/* body{
    background-image: url('./images/bg2.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
} */
.all{
    height: 350px;
    margin-top: 50px;
    border-radius: 20px;
}
button {
    font-size: 1.2em;
    border-radius: 5px;
    width: 90px;
}
.animate{
    background: url("./images/hed.jpeg");
    text-align: center;
    margin-top: 20px;
    width: 220px;
    height: 200px;
    margin-left: 150px;
    animation-name: spin;
    animation-iteration-count: 2;
    animation-duration: 1s;
}
#image{
    background: url("./images/hed.jpeg");
    width: 220px;
    height: 200px;
    align-items: center;
    margin-top: 30px;
    margin-right: 150px;
    
}
@keyframes spin {
    0% {background: url("./images/hed.jpeg")}
    
    25% {background: url("./images/tl.jpeg")}
    
    50% {background: url("./images/hed.jpeg")}
    
    75% {background: url("./images/tl.jpeg")}
    
    100% {background: url("./images/hed.jpeg")}
}
